# Go
bin/
vendor/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go build cache
/go-build/

# Angular / Node
node_modules/
dist/
tmp/
temp/
npm-debug.log
yarn-error.log

# Angular build artifacts
.angular/
.angular/cache/

# IDEs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
